*.slo
*.lo
*.o
# Compiled Dynamic libraries
*.so
*.dylib
 # Compiled Static libraries
*.lai
*.la
*.a

build/*
lib/*
doc/*
*~
*/CMakeFiles
CMakeCache.txt
*/cmake_install.cmake
*/Makefile
*/CMakeLists.txt.user

# Compiled Object files
